.container{
    display: flex;
}

.allCalender{
    display: flex;
    border: 3.5px solid black;
    width: 750px;
}

/* 클릭 날짜 */
.clickResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.clickResult-Day{
    margin-top: 30px;
    font-size: 33px;
}

.clickResult-Date{
    margin: 10px 0px;
    font-size: 200px;
}

.clickEffect{
    color : white;
    background: red;
}

.changeColorBlack {
    color: black;
}

.changeColorRed {
    color: red;
}

.changeColorBlue {
    color: blue;
}

/* 달력 */
.calender-Month-Year{
    display: flex;
    justify-content: space-between;
    height: 90px;
    font-size: 31px;
}

.calender-Date th,td{
    padding: 10px;
    text-align: center;
    font-size: 28px;
}

/* 투두리스트 */
.todos{
    width: auto;
    display: flex;
    flex-direction: column;
}

.todoList{
    display: flex;
}

.todo{
    width:300px;
}

.done{
    width:300px;
}

.hide{
    display: none;
}


